/Alignment.class
/Caption.class
/HotkeyTextComponent.class
/StaticTextBox.class
/TextBox.class
/TextFormat.class
/TextHistory.class
/TextComponent.class
/TextInputComponent.class
/FocusableComponent.class
